<div class="dark bg-gray-900 text-white">
    <div class="flex flex-col justify-center items-center h-screen bg-gray-900 text-white py-12 sm:py-0" id="home">
      <h1 class="text-4xl sm:text-6xl font-bold mb-6">Welcome To N7 Guard</h1>
      <p class="mt-4 max-w-2xl text-xl text-gray-500 lg:mx-auto text-center justify-between leading-relaxed">
        Protect yourself from phishing with our AI-powered app: instant detection of suspicious emails and links for secure browsing.      <div class="flex space-x-4">
        <button class="bg-indigo-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"
          routerLink="/url">
          Check your URL
        </button>
        <button class="bg-indigo-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"
          routerLink="/email">
          Verify the sent email
        </button>
      </div>
    </div>
  